html {
  height: 100%;
  overflow: hidden;

  background:
    radial-gradient(ellipse at bottom, #00000000 0%, #050112 100%),
    linear-gradient(45deg, #2570d9, #5232a8, #e32424, #e35724);
    
	background-size: cover, 400% 400%;
	animation: gradient 15s ease infinite;  
}

body {
  height: 100vh;

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 3vmin;

  animation: gap 3s ease-in-out forwards;
}

.main {
  width: 70vmin;
  height: 70vmin;

  padding: 3vmin;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 4vw;
  backdrop-filter: blur(1rem);
  box-shadow: 5px 5px 10px #000000AA;

  display: flex;
  flex-direction: column;-in-out
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;

  transition: 0.3s;
  animation: grow 1.5s ease-in-out forwards; 
}

.main img {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  animation: levitate 2s ease infinite;
}

.main h1 {
  text-align: center;
  margin: 0;
  color: white;
  font-family: "Poppins", serif;
  font-size: 6vmin;
}

.main p {
  text-align: center;
  margin: 0;
  color: white;
  font-family: "Poppins", serif;
  font-size: 3vmin;
}

.socials {
  height: 70vmin;

  padding: 3vmin;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 4vw;
  backdrop-filter: blur(1rem);
  box-shadow: 5px 5px 10px #000000AA;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: 0.3s;
  animation: grow 2s ease-in-out forwards; 
}

.socials img {
  width: 8vmin;
  height: 8vmin;
}

@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

@keyframes grow {
  0% { transform: scale(0.7); }
  40% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes gap {
  0% { gap: 8vmin; }
  100% { gap: 3vmin; }
}

@keyframes levitate {
  0% { transform: translateY(0vmin); }
  50% { transform: translateY(-1vmin); }
  100% { transform: translateY(0vmin); }
}